.ui-accordion {
  font-family: $font-lato;

  .ui-state-default {
    border: none;
    background: none;
    font-weight: bold;
    color: $main-color2;
    outline: 0;
    font-size: 20px;

    @include desktop {
      font-size: 24px;
    }

    .ui-icon {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 15px;
      border-color: transparent transparent transparent #f0cb39;
      transition: 0.3s ease;

    }

    &.ui-accordion-header-active {
      .ui-icon {
        transform: rotate(90deg);
      }
    }


  }

  &-content {
    background: none;
    border: none;
    font-size: 18px;
  }
}