.flexslider, .flexslider:hover {
  .flex-direction-nav {

    .view-id-front_carousel & {
      position: absolute;
      top: -72px;
      right: 0;
    }


    a {
      text-decoration: none;
      display: block;
      background: red;
      margin: -20px 0 0;
      position: absolute;
      z-index: 10;
      overflow: hidden;
      opacity: 0;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.8);
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
      transition: all 0.3s ease-in-out;

      .view-id-front_carousel & {
        top: 0;
      }

      .view-id-slider & {
        display: none;
        @include tablet {
          display: block;
        }
      }
    }




    .flex-next,
    .flex-prev {
      border-radius: 5px;
      margin: 2px;
      font-size: 0;
      width: 30px;
      height: 30px;
      background: $main-color4;
      &:hover {
        background: $main-color5;
      }


      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        left: 9px;

        .view-id-slider & {
          left: 11px;
        }
      }
    }


    .flex-next {
      opacity: 1;
      .view-id-front_carousel & {
        right: 0;
        left: auto;
        &::before {
          @include sprite($arrow-right-s);
        }
      }

      .view-id-slider & {
        right: 10px;
        width: 40px;
        height: 40px;
        top: 40%;
        left: auto;
        &::before {
          @include sprite($arrow-right);
        }
      }



    }
    .flex-prev {
      opacity: 1;
      .view-id-front_carousel & {
        right: 40px;
        left: auto;
        &::before {
          @include sprite($arrow-left-s);
        }
      }

      .view-id-slider & {
        width: 40px;
        height: 40px;
        top: 40%;
        left: 10px;
        right: auto;
        &::before {
          @include sprite($arrow-left);
        }
      }

    }
  }

}


.view-id-front_carousel {


.flexslider, .flexslider:hover {
  background: none;
  border: 0;
  margin: 30px 0;

  .slides {
    li {
      position: relative;
    }
  }


  .views-field-uc-product-image {

  }

  .views-field-title {
    //position: absolute;
    //bottom: 0;
    //left: 0;
    //right: 0;
    color: white;
    background-image: linear-gradient( to top, rgb(162,117,58) 0%, rgb(188,149,75) 30%, rgb(214,180,91) 100%);
    opacity: 0.8;
    text-align: center;
    font-size: 13px;
    line-height: 1.2;
    padding: 5px 2px;
    //pointer-events: none;
    @include tablet {
      font-size: 16px;
      text-transform: uppercase;
    }

    a {
      color: inherit;
    }

  }



}


}