.view-id-slider {
  .flexslider {
    margin-bottom: 0;
    border: none;
  }

  .slides {
    li {
      position: relative;
    }

    .slider__image {

      img {
        height: 130px;
        @include tablet {
          height: auto;
        }
      }
    }

    .slider__content {
      position: absolute;
      top: 5%;
      right: 5%;
      left: 5%;
      text-align: right;

      @include tablet {
        top: 10%;
        right: 10%;
        left: 10%;
      }

      @include desktop {
        top: 20%;
        right: 20%;
        left: auto;
        max-width: 60%;
      }
    }

    .views-field {
      color: white;
      text-transform: uppercase;
      line-height: 1.2;
      padding: 5px 0;
      @include desktop {
        padding: 10px 0;
      }


      &-title {
        font-size: 20px;
        font-family: $font-cop-l;
        text-shadow: 0px 5px 4.75px rgba(2, 1, 1, 0.25);
        @include desktop {
          font-size: 60px;
        }
      }

      &-body {
        font-size: 14px;
        font-weight: bold;
        text-shadow: 0px 5px 4.75px rgba(2, 1, 1, 0.25);
        @include desktop {
          font-size: 30px;
        }
        p {
          line-height: 1;
          margin-bottom: 0;
        }
      }

      &-field-slide-link {
        a {
          @include link();
          @include desktop {
            font-size: 18px;
            padding: 10px 20px;
          }
          .slider-section & {
            font-size: 14px;
            padding: 3px 10px;
            display: inline-block;
            @include tablet {
              padding: 5px 10px;
            }
            @include desktop {
              padding: 10px 20px;
              font-size: 18px;
            }
          }
        }
      }

    }

}



.s-slide {
  &__title {
    color: white;
    font-size: 60px;
    font-family: $font-cop-l;
    text-transform: uppercase;
    line-height: 0.6;
    text-align: right;
    text-shadow: 0px 5px 4.75px rgba(2, 1, 1, 0.25);



  }
  &__subtitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 5px 4.75px rgba(2, 1, 1, 0.25);
  }

  &__link {


    a {
      height: auto;
      width: auto;
      font-size: 18px;
      line-height: 1.7;
    }
  }
}
}