.steps {
  @include zhen--between(true);
}

.step {
  flex-basis: 50%;
  text-align: center;
  padding: 10px;

  @include tablet {
    flex-basis: 33%;
  }

  @include desktop {
    flex-basis: 16.5%;
  }

  &__text {
    font-weight: bold;
    padding: 30px 0 0;
  }
}
