.testimonials {
  &__text {
    background: $main-color7;
    color: $main-color1;
    border-radius: 5px;
    padding: 15px 20px 23px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    margin-top: 28px;

    &::after {
      content: '';
      position: absolute;
      left: 30px;
      bottom: -29px;
      border: 15px solid transparent;
      border-top: 15px solid $main-color7;
    }

  }

  &__sign {
    padding: 15px 0;
  }

  &__image {
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
  }

  &__username {
    display: inline-block;
    vertical-align: baseline;
    color: $main-color1;
    padding: 0 14px;
    font-size: 16px;
  }
}

