.s-top-bar {
  background-color: $main-color4;
  color: white;
  text-align: right;

  nav {
    ul {
      padding: 0;
      margin: 0;

    }
    li {
      display: inline-block;
      padding-left: 15px;

      a {
        color: white;
        line-height: 1;
      }
    }
  }
}

.s-top-bar__width {
  padding-right: 15px;
}
