<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="row-item">
    <div class="img">{{ field_term_image }}</div>
    <div class="name">{{ name }}</div>
    <div class="read-more">{{ view_taxonomy_term }}</div>
</div>



</body>
</html>