.s-header {
  color: white; }
  .s-header a {
    color: white; }
  .s-header__logo {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0; }
  .s-header__menu {
    display: inline-block;
    vertical-align: middle;
    font-family: "Lato", sans-serif;
    padding: 0 25px; }
    .s-header__menu nav ul {
      margin: 0;
      padding: 0; }
    .s-header__menu nav li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 15px; }
    .s-header__menu nav a {
      font-size: 16px;
      line-height: 1.125; }
      .s-header__menu nav a:hover {
        color: #a3763b; }

/*# sourceMappingURL=header.css.map */
