.s-footer {
    background-image: linear-gradient( to top, rgb(162,117,58) 0%, rgb(188,149,75) 30%, rgb(214,180,91) 100%);
  padding: 20px 0;

  h2 {
      font-size: 15px;
    color: $main-color1;
    text-transform: uppercase;
    line-height: 1.2;
    padding-bottom: 7px;
      border-bottom: 1px solid $main-color4;
    margin-bottom: 14px;

    @include desktop {
      font-size: 20px;
      letter-spacing: 1px;
    }
  }

  a {
    font-size: 15px;
    line-height: 2;
    color: black;
    &:hover {
      color: $main-color4;
    }
    @include desktop {
      font-size: 18px;
    }
  }

  &__width {
    @include zhen--between(true);
    padding: 15px;
  }

  .block {
    @include desktop {
      flex-basis: 32%;
    }
  }

  nav {
    flex-basis: 48%;
    @include desktop {
      flex-basis: 32%;
    }
  }

}


.s-copyright {
     background: $main-color1;
     color: $main-color3;
     padding: 5px 0;
   }