@import "../variables";

.s-header {
  color: white;
  border: none;
  a {
    color: white;
  }
  &__logo {
    padding-bottom: 10px;
    width: 80%;
    float: left;
    @include desktop {
      float: none;
      width: auto;
      padding-bottom: 0;
      display: inline-block;
      vertical-align: middle;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__menu {
    display: inline-block;
    vertical-align: middle;
    font-family: $font-lato;
    @include desktop {
      padding: 0 25px;
    }

    &.off-canvas {
      ul li a {
        color: black;
      }
    }

    .epros-main-menu {
      display: inline-block;
      vertical-align: middle;
    }

    nav .navbar-collapse {
      > ul {
        margin: 0;
        padding: 0;
        @include zhen--between(true);
      }
      ul.dropdown-menu a {
          color: black;
        &:hover {
          color: red;
        }
      }
      li {
        padding: 5px 15px;
        flex-basis: 100%;
        @include desktop {
          flex-basis: auto;
        }
      }
      a {
          font-size: 16px;
          color: white;
        text-transform: none;
          //font-weight: bold;
          line-height: 1.125;
        font-family: $font-lato;

        &:hover {
          color: $main-color4;
        }
      }
    }
  }

  .block {
    display: inline-block;
  }
}

.s-actions__search,
.s-actions__cart {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 0;

  &::before {
    position: absolute;
    content: '';
    display: block;
  }
}

.s-actions__cart {
  @include sprite($cart);
}
.s-actions__search {
  @include sprite($search);
  margin-left: 10px;
}

.breadcrumb-bg {
  background-image: url(img/back_title.jpg) !important;
  background-position: center;
  background-size: cover;
  height: 170px;

  .section-title {
    color: white;
      font-size: 20px;
    font-weight: normal;
      font-family: $font-cop-l;
      text-shadow: 0px 5px 4.75px rgba(2, 1, 1, 0.25);
      @include desktop {
        font-size: 44px;
      }
  }

  @include desktop {
    height: 400px;
  }

  .site-breadcumb {
    padding: 0 15px;
    width: auto;
    @include desktop {
      padding: 80px 15px;
    }
  }
}

.breadcrumb-menubar {

  > li {
    color: white;
    a {
      color: $main-color6;
      &::after {
        color: $main-color6;
      }
    }
  }

}