.fs {

  &--1,
  &--3 {
    background-color: $main-color7;
    color: $font-color1;
    font-family: $font-lato;
    font-size: 18px;
    line-height: 1.35;
    background-repeat: no-repeat;

    .block__title {
      color: $font-color2;
      font-family: $font-cop-b;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 24px;
      max-width: 530px;
      position: relative;
      padding: 18px 0 4px 69px;
      @include tablet {
        font-size: 30px;
        padding-top: 27px;
      }

      &::before {
        content: '';
        display: block;
        @include sprite($flame);
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .block {
      max-width: 725px;
    }
  }

  &--1 {
    @include desktop {
      //background-image: url("img/cigars.png");
      background-position: right 0;
    }
      .block__title {
        max-width: 820px;
        margin: 0 auto;
        padding-bottom: 40px;
      }

      .block {
        max-width: none;
      }


  }

  &--3 {
    .fs__width {
      @include desktop {
        background-repeat: no-repeat;
        background-image: url("img/custom-bands.png");
        background-position: left 20px;
        padding-left: 375px;
      }

    }

  }


  &--2 {
    background-color: $main-color2;
    color: $font-color1;
    .fs__width {
      //padding: 20px 0 22px;
    }

    .block__title {
      color: white;
      padding-bottom: 5px;
      margin: 14px 0;
      border-bottom: 1px solid $main-color6;
    }
  }
}


.s-button  {
  @include link(block);
  @include desktop {
    display: inline-block;
  }

}
