@charset "UTF-8";

/*
 * Main prefix
 * type: string
 * default value: 'wu-xing'
 * possible values: any string
 */
$wu-xing-super-prefix: "wu-xing" !default;

/*
 * Library prefix
 * type: string
 * default value: 'zhen'
 * possible values: any string
 */
$zhen-prefix: "zhen" !default;

/*
 * Pure mod
 * type: bool
 * default value: true
 * possible value: true|false
 */
$zhen-pure-mod: false !default;

/*
 * Number of columns
 * type: int
 * default values: 12
 * possible values: any int
 */
$zhen-columns: 12 !default;

/*
 * Indents on both sides of the Container
 * type: px
 * default value: 20px
 * possible values: any value in px
 */
$zhen-gutter-container: 0 !default;

/*
 * Indents on both sides of the Row
 * type: px
 * default value: $zhen-gutter-container / 2
 * possible values: any value in px
 */
$zhen-gutter-row: $zhen-gutter-container / 2 !default;

/*
 * Indents on both sides of the Column
 * type: px
 * default value: $zhen-gutter-container / 4
 * possible values: any value in px
 */
$zhen-gutter-column: $zhen-gutter-container / 4 !default;

/*
 * Type of indents
 * type: string
 * default value: padding
 * possible values: padding|margin
 */
$zhen-gutter-method: padding !default;

/*
 * Direction of flex
 * default value: row
 * possible values: row|column
 */
$zhen-direction: row !default;

/*
 * Direction for reverse
 * type: string
 * default value: row
 * possible values: row|column
 */
$zhen-reverse-direction: row !default;

/*
 * Safe mod
 * type: string
 * default value: true
 * possible value: true|false
 */
$zhen-safe: true !default;
