/* line 2, ../style/main.scss */
.custom-cigar-bands-wrapping .theme-container {
  padding-top: 30px !important;
}
/* line 4, ../style/main.scss */
.custom-cigar-bands-wrapping .theme-container .prod-categories {
  width: 100% !important;
}
/* line 8, ../style/main.scss */
.custom-cigar-bands-wrapping .theme-container .row,
.custom-cigar-bands-wrapping .space-60, .custom-cigar-bands-wrapping .space-30 {
  padding-top: unset;
  padding-bottom: unset;
}

/* line 15, ../style/main.scss */
.custom-cigar-bands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 19, ../style/main.scss */
.custom-cigar-bands > div.views-field {
  background: url("../img/term-bg.jpg") no-repeat center;
  width: 32.2%;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 33px 25px 33px;
}
/* line 26, ../style/main.scss */
.custom-cigar-bands .name {
  padding-top: 18px;
  padding-bottom: 13px;
}
/* line 29, ../style/main.scss */
.custom-cigar-bands .name a {
  color: #39200a;
  font-size: 18px;
  font-weight: bold;
}
/* line 35, ../style/main.scss */
.custom-cigar-bands .read-more {
  width: 135px;
  margin-left: auto;
  margin-right: auto;
}
/* line 39, ../style/main.scss */
.custom-cigar-bands .read-more a {
  background-color: #ed1c24;
  color: #ffffff;
  display: block;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  font-size: 16px;
  font-weight: bold;
}
/* line 49, ../style/main.scss */
.custom-cigar-bands > nav {
  width: 100%;
  clear: both;
}
/* line 53, ../style/main.scss */
.custom-cigar-bands .pagination-wrapper {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 57, ../style/main.scss */
.custom-cigar-bands .pagination-wrapper li {
  font-size: 22px;
}
/* line 59, ../style/main.scss */
.custom-cigar-bands .pagination-wrapper li a {
  color: #000000;
}
/* line 65, ../style/main.scss */
.custom-cigar-bands .pagination-wrapper .prev a,
.custom-cigar-bands .pagination-wrapper .next a {
  background-color: #ed1c24;
  color: #ffffff;
  display: block;
  height: 38px !important;
  line-height: 38px !important;
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
}
/* line 74, ../style/main.scss */
.custom-cigar-bands .pagination-wrapper .prev a:before, .custom-cigar-bands .pagination-wrapper .prev a:after,
.custom-cigar-bands .pagination-wrapper .next a:before,
.custom-cigar-bands .pagination-wrapper .next a:after {
  display: none;
}

/* line 82, ../style/main.scss */
.to-top {
  border: none;
  background: url("../img/back-to-top.png") transparent no-repeat center !important;
  width: 35px;
  height: 35px;
}
