<script src="https://use.typekit.net/wtm8yqo.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<section class="s-top-bar">
  <div class="s-top-bar__width site__width">
    {{ page.top_bar }}
  </div>
</section>
<header class="s-header header-wrap">
  <div class="s-header__width site__width ">
    <div class="s-header__logo">
      <a href="{{ path('<front>') }}"><img alt="{{ site_name }}" src="{{ header_logo_image_bg }}"></a>
      {% if header_slogan %}
        {{ header_slogan|t }}
      {% endif %}
    </div>
    <span class="nav-trigger toggle-hover visible-xs">
                            <a class="toggle-icon icon-cube size-24" href="#"> </a>
                        </span>
    <div class="s-header__menu navigation">
      {{ page.main_menu }}
    </div>
  </div>
</header>


