.custom-cigar-bands-wrapping {
  .theme-container {
    padding-top: 30px !important;
    .prod-categories {
      width: 100% !important;
    }
  }
  .theme-container .row,
  .space-60, .space-30 {
    padding-top: unset;
    padding-bottom: unset;
  }
}

.custom-cigar-bands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > div.views-field {
    background: url("../img/term-bg.jpg") no-repeat center;
    width: 32.2%;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px 33px 25px 33px;
  }
  .name {
    padding-top: 18px;
    padding-bottom: 13px;
    a {
      color: #39200a;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .read-more {
    width: 135px;
    margin-left: auto;
    margin-right: auto;
    a {
      background-color: #ed1c24;
      color: #ffffff;
      display: block;
      padding-top: 7.5px;
      padding-bottom: 7.5px;
      font-size: 16px;
      font-weight: bold;
    }
  }
  > nav {
    width: 100%;
    clear: both;
  }
  .pagination-wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    li {
      font-size: 22px;
      a {
        color: #000000;
      }
    }
    .prev,
    .next {
      a {
        background-color: #ed1c24;
        color: #ffffff;
        display: block;
        height: 38px !important;
        line-height: 38px !important;
        font-size: 16px;
        font-weight: bold;
        text-transform: none;
        &:before, &:after {
          display: none;
        }
      }
    }
  }
}

.to-top{
  border: none;
  background: url("../img/back-to-top.png") transparent no-repeat center !important;
  width: 35px;
  height: 35px;
}