
body {
  font-family: $font-lato;
  background: $main-color7;
}


.s-header {
  background: url("img/header_back.jpg");

  .block.block-block-content334f821f-b77a-4345-9ef5-189e3c1522a7 {
    display: none;
    @include desktop {
      display: inline-block;
    }
  }
}

.site__width {
  max-width: 1130px;
  padding: 15px;
  margin: 0 auto;
}

.theme-container .row {
  @include zhen--between(true);
  padding: 40px 0 15px;

  .region-sidebar {
    box-sizing: border-box;
    padding: 0 15px;
    @include desktop {
      flex-basis: 30%;
    }

    .widget-wrap {
      background: $main-color3;
      color: white;
      padding: 15px;
      margin: 20px 0;
      font-size: 18px;
    }
    .widget-title {
      background: $main-color1;
      margin: -15px -15px 15px -15px;
      padding: 15px;
      color: white;
      font-size: 36px;
      font-weight: normal;
      text-transform: none;
      font-family: $font-lato;
    }
  }
  #block-epros-content {

    box-sizing: border-box;
    padding: 0 15px;
    width: 100%;
    @include desktop {
      flex-basis: 70%;
      width: auto;
    }
  }
}

.messages--status {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.theme-container .contact-form-wrap {
  .section-title,
  #block-epros-content
  {
    flex-basis: 100%;
    @include tablet {
      padding: 0 20%;
    }
  }
}