@font-face {
  font-family: CopperplateLight;
  src: url(../fonts/CopperplateLight.ttf) format("truetype");
}
@font-face {
  font-family: CopperplateBold;
  src: url(../fonts/CopperplateBold.ttf) format("truetype");
}