// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-s-name: 'arrow-left-s';
$arrow-left-s-x: 81px;
$arrow-left-s-y: 57px;
$arrow-left-s-offset-x: -81px;
$arrow-left-s-offset-y: -57px;
$arrow-left-s-width: 10px;
$arrow-left-s-height: 18px;
$arrow-left-s-total-width: 103px;
$arrow-left-s-total-height: 95px;
$arrow-left-s-image: 'img/sprite.png';
$arrow-left-s: (81px, 57px, -81px, -57px, 10px, 18px, 103px, 95px, 'img/sprite.png', 'arrow-left-s', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 62px;
$arrow-left-y: 0px;
$arrow-left-offset-x: -62px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 17px;
$arrow-left-height: 27px;
$arrow-left-total-width: 103px;
$arrow-left-total-height: 95px;
$arrow-left-image: 'img/sprite.png';
$arrow-left: (62px, 0px, -62px, 0px, 17px, 27px, 103px, 95px, 'img/sprite.png', 'arrow-left', );
$arrow-right-s-name: 'arrow-right-s';
$arrow-right-s-x: 93px;
$arrow-right-s-y: 57px;
$arrow-right-s-offset-x: -93px;
$arrow-right-s-offset-y: -57px;
$arrow-right-s-width: 10px;
$arrow-right-s-height: 18px;
$arrow-right-s-total-width: 103px;
$arrow-right-s-total-height: 95px;
$arrow-right-s-image: 'img/sprite.png';
$arrow-right-s: (93px, 57px, -93px, -57px, 10px, 18px, 103px, 95px, 'img/sprite.png', 'arrow-right-s', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 62px;
$arrow-right-y: 29px;
$arrow-right-offset-x: -62px;
$arrow-right-offset-y: -29px;
$arrow-right-width: 17px;
$arrow-right-height: 27px;
$arrow-right-total-width: 103px;
$arrow-right-total-height: 95px;
$arrow-right-image: 'img/sprite.png';
$arrow-right: (62px, 29px, -62px, -29px, 17px, 27px, 103px, 95px, 'img/sprite.png', 'arrow-right', );
$arrow-up-name: 'arrow-up';
$arrow-up-x: 81px;
$arrow-up-y: 40px;
$arrow-up-offset-x: -81px;
$arrow-up-offset-y: -40px;
$arrow-up-width: 16px;
$arrow-up-height: 15px;
$arrow-up-total-width: 103px;
$arrow-up-total-height: 95px;
$arrow-up-image: 'img/sprite.png';
$arrow-up: (81px, 40px, -81px, -40px, 16px, 15px, 103px, 95px, 'img/sprite.png', 'arrow-up', );
$cart-name: 'cart';
$cart-x: 81px;
$cart-y: 20px;
$cart-offset-x: -81px;
$cart-offset-y: -20px;
$cart-width: 20px;
$cart-height: 18px;
$cart-total-width: 103px;
$cart-total-height: 95px;
$cart-image: 'img/sprite.png';
$cart: (81px, 20px, -81px, -20px, 20px, 18px, 103px, 95px, 'img/sprite.png', 'cart', );
$flame-name: 'flame';
$flame-x: 0px;
$flame-y: 0px;
$flame-offset-x: 0px;
$flame-offset-y: 0px;
$flame-width: 60px;
$flame-height: 95px;
$flame-total-width: 103px;
$flame-total-height: 95px;
$flame-image: 'img/sprite.png';
$flame: (0px, 0px, 0px, 0px, 60px, 95px, 103px, 95px, 'img/sprite.png', 'flame', );
$search-name: 'search';
$search-x: 81px;
$search-y: 0px;
$search-offset-x: -81px;
$search-offset-y: 0px;
$search-width: 22px;
$search-height: 18px;
$search-total-width: 103px;
$search-total-height: 95px;
$search-image: 'img/sprite.png';
$search: (81px, 0px, -81px, 0px, 22px, 18px, 103px, 95px, 'img/sprite.png', 'search', );
$spritesheet-width: 103px;
$spritesheet-height: 95px;
$spritesheet-image: 'img/sprite.png';
$spritesheet-sprites: ($arrow-left-s, $arrow-left, $arrow-right-s, $arrow-right, $arrow-up, $cart, $flame, $search, );
$spritesheet: (103px, 95px, 'img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
