$tablet-width: 640px;
$desktop-width: 960px;
$wide-desktop-width: 1200px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin wide {
  @media (min-width: #{$wide-desktop-width}) {
    @content;
  }
}

$main-color1: #271607;
$main-color2: #39200a;
$main-color3: #a3763b;
$main-color4: #ed1c24;
$main-color5: #cd1b21;
$main-color6: #d6b45b;
$main-color7: #fef2d2;


@mixin link ($display: inline-block) {
  & {
    display: $display;
    font-size: 16px;
    text-align: center;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background: $main-color4;
    line-height: 2;
    @include desktop {
      font-size: 18px;
    }
    &:hover {
      color: white;
      background: $main-color5;
    }
  }
}







$font-color1: #271607;
$font-color2: #39200a;
$font-lato: 'Lato', sans-serif;
$font-cop-l: CopperplateLight, sans-serif;
$font-cop-b: CopperplateBold, sans-serif;

$font-family-secondary: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

$font-size-mobile: 18px;
$font-size-tablet: 20px;
$font-size-desktop: 24px;
$font-size-wide: 27px;

$color-font: #252525;
$color-border: #acacac;
$color-header: #F4F4F4;
$color-button: #8d7a7b;
$color-footer: #f9f9f9;
$color-cart: #936591;
$font-size-base: 16px;
$font-size-title: 2.25em;
$font-family-sub: Noto, Arial, Helvetica, sans-serif;
$font-family-common: Arial, Helvetica, sans-serif;


