{% include theme_path ~ "/templates/header/s-header.html.twig" %}


    <!-- CONTENT AREA -->

    <!-- Main Slider Start -->
        {{ page.slider }}  
    <!-- / Main Slider Ends -->
<section class="fs fs--1">
    <div class="fs__width site__width">
      {{ page.front_section_1 }}
    </div>
</section>
<section class="fs fs--2">
    <div class="fs__width site__width">
      {{ page.front_section_2 }}
    </div>
</section>
<section class="fs fs--3">
    <div class="fs__width site__width">
      {{ page.front_section_3 }}
    </div>
</section>

<!-- FOOTER -->
{% include theme_path ~ "/templates/footer/s-footer.html.twig" %}
<!-- /FOOTER -->

