{% if setting_header == 'style2' %}
    {% set header_classes = 'header-style-2' %}
{% elseif setting_header == 'style3' %}
    {% set header_classes = 'header-style-3' %}
{% elseif setting_header == 'style4' %}
    {% set header_classes = 'header-style-4' %}
{% elseif setting_header == 'style5' %}
    {% set header_classes = 'header-style-5' %}
{% elseif setting_header == 'style6' %}
    {% set header_classes = 'header-style-6' %}
{% elseif setting_header == 'style7' %}
    {% set header_classes = 'header-style-7' %}
{% elseif setting_header == 'style8' %}
    {% set header_classes = 'header-style-8' %}
{% else %}
    {% set header_classes = 'header-style-1' %}
{% endif %}
<main class="wrapper epros-front-header epros-menu-accout {{ header_classes }}"> 
    <!-- Header -->
    {% include theme_path ~ "/templates/header/header-1.html.twig" %}
    <!-- /Header -->

    <!-- CONTENT AREA -->

    <!--Breadcrumb Section Start-->
    <section class="breadcrumb-bg blog-breadcrumb light-bg" style="background-image: url({{ blog_page_header_bg }});">              
        <div class="theme-container container ">
            <div class="space-top-30"></div>
            <div class="site-breadcumb col-md-4 space-80">                        
                <h1 class="section-title size-48 no-margin space-bottom-20">{{ title }}</h1> 
                <ol class="breadcrumb breadcrumb-menubar">
                    {{ page.breadcrumbs }}                            
                </ol>
            </div>  
        </div>
    </section>
    <!--Breadcrumb Section End-->
{% if blog_layout == 'masonry' %}
    <section class="wrapper space-100">

        <div class="theme-container container">
            


                    {{ page.content }}

                <!-- / Blog Post Ends -->
            
        </div>

    </section>
{% elseif blog_layout == 'small' %}
    <section class="wrapper space-100">
        <div class="theme-container container">
            <div class="row">
                <!-- Blog Post Starts -->
                {% if listing_sidebar == 'left' %}
                    <aside class="sidebar pd-rt col-sm-4 col-md-4">
                       {{ page.sidebar }}
                    </aside>
                {% endif %}
                <aside class="col-md-8 col-sm-8 blog-wrap post-thumb">
                    {{ page.content }}
                </aside>
                <!-- / Blog Post Ends -->

                <!-- Product Categories Sidebar Starts -->                     
                {% if listing_sidebar == 'right' %}
                    <aside class="sidebar pd-lf col-sm-4 col-md-4">
                       {{ page.sidebar }}
                    </aside>
                {% endif %}
                <!-- Product Categories Sidebar Starts -->
            </div>
        </div>

    </section>
{% else %}
    <section class="wrapper space-100">
        <div class="theme-container container">
            <div class="row">
                <!-- Blog Post Starts -->
                {% if listing_sidebar == 'left' %}
                    <aside class="sidebar pd-rt col-sm-4 col-md-4">
                       {{ page.sidebar }}
                    </aside>
                {% endif %}
                <aside class="col-md-8 col-sm-8 blog-wrap post-listing">
                    {{ page.content }}
                </aside>
                <!-- / Blog Post Ends -->

                <!-- Product Categories Sidebar Starts -->                     
                {% if listing_sidebar == 'right' %}
                    <aside class="sidebar pd-lf col-sm-4 col-md-4">
                       {{ page.sidebar }}
                    </aside>
                {% endif %}
                <!-- Product Categories Sidebar Starts -->
            </div>
        </div>

    </section>
{% endif %}
    <!-- / CONTENT AREA -->

    <!-- FOOTER -->
{% if setting_footer == 'style2' %}
    {% include theme_path ~ "/templates/footer/footer-2.html.twig" %}
{% elseif setting_footer == 'style3' %}
    {% include theme_path ~ "/templates/footer/footer-3.html.twig" %}
{% elseif setting_footer == 'style4' %}
    {% include theme_path ~ "/templates/footer/footer-4.html.twig" %}
{% elseif setting_footer == 'style5' %}
    {% include theme_path ~ "/templates/footer/footer-5.html.twig" %}
{% elseif setting_footer == 'style6' %}
    {% include theme_path ~ "/templates/footer/footer-6.html.twig" %}
{% elseif setting_footer == 'style7' %}
    {% include theme_path ~ "/templates/footer/footer-7.html.twig" %}
{% elseif setting_footer == 'style8' %}
    {% include theme_path ~ "/templates/footer/footer-8.html.twig" %}
{% elseif setting_footer == 'style9' %}
    {% include theme_path ~ "/templates/footer/footer-9.html.twig" %}
{% elseif setting_footer == 'style10' %}
    {% include theme_path ~ "/templates/footer/footer-10.html.twig" %}
{% else %}
    {% include theme_path ~ "/templates/footer/footer-1.html.twig" %}
{% endif %}

    <div id="to-top" class="to-top"> <i class="arrow_carrot-up"></i> </div>

</main>