{% set bg_img_url = file_url(node.field_header_background.entity.uri.value) %}
{% if setting_header == 'style2' %}
    {% set header_classes = 'header-style-2' %}
{% elseif setting_header == 'style3' %}
    {% set header_classes = 'header-style-3' %}
{% elseif setting_header == 'style4' %}
    {% set header_classes = 'header-style-4' %}
{% elseif setting_header == 'style5' %}
    {% set header_classes = 'header-style-5' %}
{% elseif setting_header == 'style6' %}
    {% set header_classes = 'header-style-6' %}
{% elseif setting_header == 'style7' %}
    {% set header_classes = 'header-style-7' %}
{% elseif setting_header == 'style8' %}
    {% set header_classes = 'header-style-8' %}
{% else %}
    {% set header_classes = '' %}
{% endif %}
<main class="wrapper epros-front-header epros-menu-accout {{ header_classes }}"> 
    <!-- Header -->
   {#{% include theme_path ~ "/templates/header/header-1.html.twig" %}#}
  {% include theme_path ~ "/templates/header/s-header.html.twig" %}
    <!-- /Header -->

    <!-- CONTENT AREA -->

    <!--Breadcrumb Section Start-->
    <section class="breadcrumb-bg about-breadcrumb" style="background-image: url({{ bg_img_url }});">                
        <div class="theme-container container ">
            <div class="space-top-30"></div>
            <div class="site-breadcumb col-md-4 space-80">                        
                <h1 class="section-title size-48 no-margin space-bottom-20">{{ title }}</h1> 
                <ol class="breadcrumb breadcrumb-menubar">
                    {{ page.breadcrumbs }}                             
                </ol>
            </div>  
        </div>
    </section>
    <!--Breadcrumb Section End-->

    <section class="wrapper">
        <div class="theme-container container">
            <!-- About Starts -->
            <div class="row">
                {{ page.content_full_bar }}
                {{ page.content }}
                {{ page.sidebar }}
            </div>
            <!-- / About Ends -->

        </div>
    </section>
    <!-- / CONTENT AREA -->

    <!-- FOOTER -->
    {% include theme_path ~ "/templates/footer/s-footer.html.twig" %}
    <!-- /FOOTER -->

</main>