<footer class="s-footer">
  <div class="s-footer__width site__width">
    {{ page.footer }}
  </div>
</footer>
<section class="s-copyright">
  <div class="s-copyright__width site__width">
    {% if copyright_text %}
      {{ copyright_text|t }}
    {% endif %}
  </div>
</section>
<div id="to-top" class="to-top"> <i class="arrow_carrot-up"></i> </div>